body {
    background-color: #7bc3a0;
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

h1 {
    color: #060707;
    font-size: 48px;
}

p {
    color: #555;
    font-size: 60px;
}
button {
    background-color: #3498db;
    color: rgb(4, 5, 5);
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2672a4;
    @media (max-width: 600px) {

    body {
        padding-top: 50px;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
        padding: 0 20px;
    }

    button {
        width: 80%;
        font-size: 16px;
    }

}
form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

input,
textarea,
form button {
    width: 400px;
    max-width: 90%;
    padding: 20px;
    font-size: 20px;
    border-radius: 12px;
    border: 4px solid #ccc;
}